<div>
  <h1><a href="/movies/{{this.movieId}}/reviews/{{this._id}}">{{this.title}}</a></h1>
  <h2>{{review.movieTitle}}</h2>
  <p>{{review.description}}</p>
  <p><a href="/movies/{{this.movieId}}/reviews/{{this._id}}/edit">Edit Review</a></p>
  <p><form method="POST" action="/movies/{{this.movieId}}/reviews/{{this._id}}?_method=DELETE">
      <button class="btn btn-primary" type="submit">Delete Review</button>
  </form></p>
</div>
